{% extends "base.html" %}

{% block content %}
<div class="welcome">
    <h1>Welcome to Our Wedding Website</h1>
    <div class="countdown" id="countdown">
        <!-- Countdown timer will be added with JavaScript -->
    </div>
    
    {% if session.get('authenticated') %}
        <div class="wedding-details">
            <p>We're delighted to share our special day with you!</p>
            <p>Don't forget to <a href="{{ url_for('rsvp.submit') }}">RSVP</a>!</p>
        </div>
    {% endif %}
</div>
{% endblock %}