{% extends "base.html" %}

{% block content %}
<div class="schedule-page">
    <h1>Wedding Schedule</h1>
    <div class="schedule-items">
        <div class="schedule-item">
            <h3>Ceremony</h3>
            <p class="time">2:00 PM</p>
            <p class="description">Join us as we exchange our vows</p>
        </div>
        
        <div class="schedule-item">
            <h3>Reception</h3>
            <p class="time">4:00 PM</p>
            <p class="description">Celebrate with dinner and dancing</p>
        </div>
    </div>
</div>
{% endblock %}